
/*font-family: 'Mali', cursive;
font-family: 'Krub', sans-serif;*/



/*____________________________________________________________________*/



body{
  background-color: #6E8898;
}


h1{
  font-family: 'Mali', cursive;
}

h2, h3,p {
  font-family: 'Krub', sans-serif;
}

a:hover{
  color:#93BEDF;
}

a{
  color:#508CA4;
  text-decoration: none;
}

.container{
  width: 500px;
  margin: 0 auto;
}

.btn-red{
  background-color: #6E8898;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;

}


.card {
  border-radius: 5px;
  background-color: #FFEEDB;
  text-align: center;
  box-shadow: 2px 2px 3px 0px black;
  margin: 20px 0 20px;
}
.profile {
  width: 150px;
  height:150px;
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.social{
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-right: 19px;
}

.text-center {
  text-align: center;
}

ul{
  list-style:none;
}

.list-item{
  padding-bottom:178px;
  width:114;

}

#sidebar {
  position: fixed;
  width: 114px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:#FFEEDB;
  display: inline-block;
  font-size:50px;
}


#page-content {
  margin-left: 99px;
}

/*PHONE CSS*/

@media (max-width: 400px) {
  body{
    background-color: #6E8898;
  }


  h1{
    font-family: 'Mali', cursive;
  }

  h2, h3,p {
    font-family: 'Krub', sans-serif;
  }

  h2{
    font-size:15px;
  }

  p{
    font-size: 11px;
  }

  a:hover{
    color:#93BEDF;
  }

  a{
    color:#508CA4;
    text-decoration: none;
  }

  .container{
    width: 50%;
    margin: 0 auto;
  }


  .card {
    border-radius: 5px;
    background-color: #FFEEDB;
    text-align: center;
    box-shadow: 2px 2px 3px 0px black;


  }

  ul {
    list-style: none;
  }

  .profile {
    width: 75px;
    border-radius: 5px;
    height: 140px;
  }

  .card img {
    border-radius: 5px;
    margin-right: 10px;
    width: 75%;

  }

  #social{
    font-size: 6px;
  }

  table, td ,tr {
    display: block;
  }

}
